<br>
<br>
<div class="container mx-4 col-12">
  <form [formGroup]="LoginForm">

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>email</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="LoginForm.hasError('required','email')"> email is required </mat-error>
      <mat-error *ngIf="LoginForm.hasError('email','email')"> email is invalid </mat-error>
    </mat-form-field><br>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="LoginForm.hasError('required','password')"> password is required </mat-error>
    </mat-form-field>
    <button [disabled]="!LoginForm.valid" class="btn btn-primary ml-4" mat-raised-button (click)="login()">Log
      In</button>
  </form>
  <a type="button" routerLink="/register"> don't have an accoount ? Register here</a>
</div>
