<h4>Update Post</h4>
<form [formGroup]="list">
  <ul class="unstyled-list">
    <li>
      <mat-form-field appearance="outline">
        <mat-label> Title</mat-label>
        <input matInput type="text" formControlName="title" />

    
      </mat-form-field>
    </li>
    <li>
      <mat-form-field appearance="outline">
        <mat-label>body</mat-label>
        <input matInput type="text"  formControlName="body" />

        <!-- <mat-error *ngIf="list.hasError('required', 'categorie')">Category is required </mat-error> -->
      </mat-form-field>
    </li>
    <li>
   
    <button  class="btn btn-primary ml-4" mat-raised-button (click)="UPDATE() ">Save</button>
  </ul>
</form>

